/* Declaración fuente para iconos*/
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-my2aot');
    src:url('fonts/icomoon.eot?#iefix-my2aot') format('embedded-opentype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.svg?-my2aot#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram2:before {
    content: "\e600";
    color: black;
    font-size: 1.8em;
}

/* Fin Declaración fuente para iconos*/


body 
{
    background: #EEEEEE;
    font-family: "Open Sans";
    font-size: 16px;
}
footer
{
    color: rgba(0,0,0,0.7); /* pone transparente el texto*/
    float: left;
    margin:0;
    width: 100%;
}
footer p
{
    background: orange;
    margin:0;
    padding: 0.5em 0;
    text-align: center;
}
header
{
    min-height: 114px;
    padding: 0 1em;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}
header h2, h3, h4
{
    font-weight: normal;
}
header figure
{
    float: left;
}
header #avatar
{
    margin: 0.5em 0.5em 0 0;
    position: absolute;
    right: 0;
    top: 0;
}
header #avatar img
{
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
    margin: 1em;
    padding: 0;
    width: 100px;

}
nav ul
{
    background: #AAA;
    list-style: none;
    margin: 0;
    padding: 0; 
    position: relative;

}
nav ul li
{
    display: inline-block;
}
nav ul li a
{
    color: #000;
    display: block;
    margin-left: 0;
    padding: 0.5em 0.5em;
    text-decoration: none;
}
nav ul li a:hover
{
    background: #EEEEEE;
     -webkit-transition:.3s;
}
section
{
    padding: 0 0.8em;
    position: relative;
}
section .bio
{
  /*  border: 1px solid red; */
    padding-right: 15.5em;
    top: 0;
}
section div
{
    background: #DDD;
    border-radius: 50%;
    list-style: none;
    margin: 0 0.8em 0 0;
    padding: 0.5em 0;
    position: absolute;
    right: 0;
    top: 0.5em;
}
section div a
{
    /*border: 1px solid orange; */
    border-radius: 50%;
    color: black;
    display: inline-block;
    float: right;
    margin-right: 32%;
    padding: 0.25em 0.2em 0.8em 0.2em; 
    text-align: center;
    text-decoration: none;
    width: 36%;
}
section div a:hover
{
    background: #FFF;
    -webkit-transition:.5s;
    /*-webkit-transform:rotate(360deg);*/
}
section div span
{
    /*border: 1px solid green; */
    display: block;
    margin: 1.5em 0.5em 0 0;
    font-size: 0.9em;
    font-style: italic;
    padding: 0 1em 0.2em 1em;
    text-align: center;
}





